.whyItem {
    margin-top: 30px;
}

.whyBox {
    float: left;
    width: 80%;
    p {
        font-size: 1.3em;
    }
}

.whyIcon {
    font-size: 3.5em;
    color: var(--color-1);
    float: left;
    width: 20%;
}
